:root {
    --fg: #1e1e2e;
    --bg: #181825;
    --red: #c4524c;
    --purple: #cba6f7;
    --yellow: #f9e2f8;
    --green: #a6e3a1;
    --pink: #f5c2e7;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "monospace";
}

body {
    background-color: var(--bg);
}

.banner {
    display: flex;
    width: 100%;
    padding: 1rem;
    background-color: var(--fg);
    color: var(--red);
    font-size: 1rem;
}

.banner img {
    width: 10rem;
    margin-right: 1.5rem;
}

.mainbody {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
}

.previews {
    display: grid;
    grid-template-columns: auto auto;
    gap: 2rem;
}

.preview {
    width: 16rem;
    padding: .5rem;
    border-radius: .5rem;
    background-color: var(--fg);
}

.preview h1 {
    color: var(--pink);
}

.preview p {
    color: var(--yellow);
}

.about {
    width: 15rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--fg);
}

.about h1 {
    color: var(--purple);
}

.about p {
    color: var(--yellow);
}
