:root {
    --fg: #1e1e2e;
    --bg: #181825;
    --bg-darker: #11111b;
    --red: #c4524c;
    --purple: #cba6f7;
    --yellow: #f9e2f8;
    --green: #a6e3a1;
    --pink: #f5c2e7;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "monospace";
}

body {
    background-color: var(--bg);
}

.banner {
    display: flex;
    width: 100%;
    padding: 1rem;
    background-color: var(--fg);
    color: var(--red);
    font-size: 1rem;
}

.banner img {
    width: 10rem;
    margin-right: 1.5rem;
}

.mainbody {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
}

.previews {
    display: flex;
    flex-wrap: wrap;
}

.preview {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 16rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
    padding: .5rem;
    border-radius: 1rem;
    background-color: var(--bg-darker);
}

.preview h1 {
    margin-bottom: 1rem;
    padding-left: .5rem;
    color: var(--pink);
}

.preview .inner {
    padding: .5rem;
    color: var(--yellow);
    background-color: var(--fg);
    border-radius: .5rem;
}

.about {
    width: 25rem;
    padding: .4rem;
    border-radius: 1rem;
    background-color: var(--purple);
}

.about h1 {
    padding: .5rem;
    font-size: 2rem;
    margin-bottom: .5rem;
    color: var(--yellow);
    background-color: var(--red);
    border-radius: 1rem;
}

.about p {
    font-size: 1rem;
    color: var(--bg-darker);
}
