<div class="buttons">
    <a class="button" href="/index.html">
        <p>Home</p>
        <img src="/images/home.svg" />
    </a>
    <a class="button" href="https://github.com/azenna">
        <p>Github</p>
        <img src="/images/github.svg" />
    </a>
    <a class="button" href="https://www.linkedin.com/in/zachary-allwein-a51b8b131">
        <p>LinkedIn</p>
        <img src="/images/linkedin.svg" />
    </a>
    <a class="button" href="https://go.dev/">
        <p>Learning</p>
        <img src="/images/go.svg" />
    </a>
</div>
